.idea
.DS_Store

# RE specific stuff
__pycache__/
*.log
*.analysis.txt

*.compare.txt
*.default.txt
*.statistics.txt
*.coverage.txt
*.sets.txt

*.compare.xml
*.fuzz.data.xml
TEMP.*.data.xml
DIS.*.data.xml
*/POLYNESIAN/*.data.xml
*/VANUATU/*.data.xml
*/LOLOISH/*.data.xml
*/LOLOISH/*.correspondences.xml
*.evaluation.statistics.xml
*.failures.sets.xml
*.isolates.sets.xml
*.mel.statistics.xml
*.sets.xml
*.upstream.statistics.xml

*.keys.csv

#
!Build/
.last_cover_stats
/META.yml
/META.json
/MYMETA.*
*.o
*.pm.tdy
*.bs

# Devel::Cover
cover_db/

# Devel::NYTProf
nytprof.out

# Dizt::Zilla
/.build/

# Module::Build
_build/
Build
Build.bat

# Module::Install
inc/

# ExtUitls::MakeMaker
/blib/
/_eumm/
/*.gz
/Makefile.old
/MANIFEST.bak
/pm_to_blib
/*.zip
